<div fxLayout="row wrap">
    <div class="col-md-5 temp">
        <div class="container" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <h3 class="title">Consultation des conditions météorologiques</h3>
            <form class="formulaire" [formGroup]="formulaireMeteo" (ngSubmit)="rechercherMeteo()">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Choisi une date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateTemperature">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Heure de départ</mat-label>
                    <mat-select formControlName="heureTemperature">
                    <mat-option *ngFor="let heure of heures" [value]="heure.value">
                        {{ heure.viewValue }}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <button class="button" mat-raised-button type="submit" color="primary" [disabled]="!formulaireMeteo.valid">Consulter la météo</button>
            </form>
        </div>
    </div>
    <div class="col-md-7">  
        <mat-card *ngIf="reponse">
            <mat-card-content>
                <p>Température : {{ reponse.main.feels_like }} degré</p>
                <br>
                <p>Humidité : {{ reponse.main.humidity }} %</p>
                <br>
                <p>Ciel : {{ reponse.weather[0].description }}</p>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>




